.m_0 {
    margin: 0 !important;
}

.m_t_0 {
    margin-top: 0 !important;
}

.m_b_0 {
    margin-bottom: 0 !important;
}

.m_l_0 {
    margin-left: 0 !important;
}

.m_r_0 {
    margin-right: 0 !important;
}

.m_t_b_0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.m_l_r_0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

// _________________________

.m_xs {
    margin: 5px !important;
}

.m_t_xs {
    margin-top: 5px !important;
}

.m_b_xs {
    margin-bottom: 5px !important;
}

.m_l_xs {
    margin-left: 5px !important;
}

.m_r_xs {
    margin-right: 5px !important;
}

.m_t_b_xs {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.m_l_r_xs {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

// _________________________

.m_sm {
    margin: 10px !important;
}

.m_t_sm {
    margin-top: 10px !important;
}

.m_b_sm {
    margin-bottom: 10px !important;
}

.m_l_sm {
    margin-left: 10px !important;
}

.m_r_sm {
    margin-right: 10px !important;
}

.m_t_b_sm {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.m_l_r_sm {
    margin-left: 10px !important;
    margin-right: 10px !important;
}

// _________________________

.m_md {
    margin: 20px !important;
}

.m_t_md {
    margin-top: 20px !important;
}

.m_b_md {
    margin-bottom: 20px !important;
}

.m_l_md {
    margin-left: 20px !important;
}

.m_r_md {
    margin-right: 20px !important;
}

.m_t_b_md {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.m_l_r_md {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

// _________________________

.m_lg {
    margin: 40px !important;
}

.m_t_lg {
    margin-top: 40px !important;
}

.m_b_lg {
    margin-bottom: 40px !important;
}

.m_l_lg {
    margin-left: 40px !important;
}

.m_r_lg {
    margin-right: 40px !important;
}

.m_t_b_lg {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.m_l_r_lg {
    margin-left: 40px !important;
    margin-right: 40px !important;
}

// _________________________
// _________________________
// _________________________

.p_0 {
    padding: 0 !important;
}

.p_t_0 {
    padding-top: 0 !important;
}

.p_b_0 {
    padding-bottom: 0 !important;
}

.p_l_0 {
    padding-left: 0 !important;
}

.p_r_0 {
    padding-right: 0 !important;
}

.p_t_b_0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.p_l_r_0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

// _________________________

.p_xs {
    padding: 5px !important;
}

.p_t_xs {
    padding-top: 5px !important;
}

.p_b_xs {
    padding-bottom: 5px !important;
}

.p_l_xs {
    padding-left: 5px !important;
}

.p_r_xs {
    padding-right: 5px !important;
}

.p_t_b_xs {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.p_l_r_xs {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

// _________________________

.p_sm {
    padding: 10px !important;
}

.p_t_sm {
    padding-top: 10px !important;
}

.p_b_sm {
    padding-bottom: 10px !important;
}

.p_l_sm {
    padding-left: 10px !important;
}

.p_r_sm {
    padding-right: 10px !important;
}

.p_t_b_sm {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.p_l_r_sm {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

// _________________________

.p_md {
    padding: 20px !important;
}

.p_t_md {
    padding-top: 20px !important;
}

.p_b_md {
    padding-bottom: 20px !important;
}

.p_l_md {
    padding-left: 20px !important;
}

.p_r_md {
    padding-right: 20px !important;
}

.p_t_b_md {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.p_l_r_md {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

// _________________________

.p_lg {
    padding: 40px !important;
}

.p_t_lg {
    padding-top: 40px !important;
}

.p_b_lg {
    padding-bottom: 40px !important;
}

.p_l_lg {
    padding-left: 40px !important;
}

.p_r_lg {
    padding-right: 40px !important;
}

.p_t_b_lg {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.p_l_r_lg {
    padding-left: 40px !important;
    padding-right: 40px !important;
}
