// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "bower_components/lightbox2/dist/css/lightbox.css";
@import "_help.scss";

body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #595959;
}

.main-header {
    display: block;
    width: 100%;
    background-image: url('../images/app/header_bg.jpg');
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.main-header__info {
    display: block;
    list-style: none;
    text-align: right;
    color: #402601;
    font-size: 12px;
    span {
        display: inline-block;
        padding: 10px 10px;
    }
    img {
        display: inline-block;
        position: relative;
        margin-bottom: 3px;
        margin-right: 3px;
    }
    a {
        color: #800303;
        text-decoration: underline;
        transition: all 0.2s ease-out;
        &:hover {
            text-decoration: none;
            color: #000;
        }
    }
}

.main-header__info_line {
    text-decoration: underline;
}

.main-header__nav {
    display: block;
    color: #402601;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    list-style: none;
    a {
        display: inline-block;
        padding: 15px 10px;
        color: #402601;
        transition: all 0.2s ease-out;
        &:hover {
            color: #a25f00;
            text-decoration: none;
        }
    }
}

.dropdown-menu {
    border-radius: 3px;
    background-color: rgb(254, 254, 254);
    box-shadow: 5px 5px 18px rgba(0,0,0,.65);
    border-color: transparent;
}

.dropdown-menu:after {
  position: absolute;
  top: -7px;
  left: 15px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: #afa196;
  content: '';
}

.dropdown-menu:before {
  position: absolute;
  top: -12px;
  left: 10px;
  display: inline-block;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #ffffff;
  border-left: 12px solid transparent;
  content: '';
}

.dropdown-menu > li > a {
    text-decoration: underline;
    color: #402601;
    transition: all 0.2s ease-out;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: transparent;
    text-decoration: none;
    color: #a25f00;
}

.main-header__phone-number {
    display: block;
    color: #402601;
    font-size: 16px;
    font-weight: bold;
}

.main-header__logo {
    display: block;
    position: relative;
    margin-top: 40px;
    margin-bottom: 20px;
}

@media (max-width: 1170px) {
    .main-header__logo {
        margin: 30px auto;
    }
    .main-header__info {
        text-align: center;
    }
    .main-header__nav {
        text-align: center;
    }
    .main-header__phone-number {
        text-align: center;
        margin-bottom: 20px;
    }
}

.main-slider {
    display: block;
    width: 100%;
    font-family: 'Philosopher', sans-serif;
    font-size: 18px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
    min-height: 200px;
    max-height: 430px;
    object-fit: cover;
}

.carousel-caption {
    text-align: left;
    top: 40px;
    bottom: auto;
    h2 {
        display: block;
        margin-bottom: 30px;
        font-size: 36px;
        font-weight: bold;
    }
    p {
        font-size: 18px;
    }
}

@media screen and (min-width: 768px) {
    .carousel-caption {
        left: 0;
        right: 0;
    }
}

.main-slider__button {
    display: inline-block;
    border-radius: 3px;
    background-color: rgb(162, 95, 0);
    background-image: url(../images/app/button.png);
    background-size: cover;
    background-size: 100% 100%;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    color: #fff;
    padding: 18px 16px;
    margin-top: 20px;
    transition: all 0.3s ease-out;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    &:hover {
        text-decoration: none;
        color: #fff;
        background-color: #a25f00;
        background-image: url(../images/app/button_hover.png);
        background-size: cover;
        background-size: 100% 100%;
        box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.70);
    }
}

@media (max-width: 800px) {
    .carousel-caption {
        top: 10px;
        text-align: center;
        h2 {
            margin-bottom: auto;
        }
        p {
            display: none;
        }
    }
}

@media (max-width: 1170px) {
    .main-slider__button {
        display: none;
    }
}

.main-features {
    display: block;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.main-features__card {
    display: block;
    width: 100%;
    height: 216px;
    font-family: 'Philosopher', sans-serif;
    img {
        display: block;
        width: 100%;
        height: 216px;
        object-fit: cover;
    }
    span {
        display: inline-block;
        position: absolute;
        bottom: 0;
        font-size: 22px;
        text-align: center;
        color: #5c3900;
        font-weight: bold;
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: rgba(255, 255, 255, 0.66);
        transition: all 0.3s ease-out;
    }
    &:hover {
        span {
            height: 100%;
            min-height: 100%;
            padding: 97px;
        }
    }
}

.example-works {
    display: block;
    width: 100%;
    background-color: #f7f7f7;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

.example-works__card {
    display: block;
    width: 100%;
    transition: all 0.2s ease-out;
    img {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        object-fit: cover;
    }
    .example-works__card_zoom {
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        top: 40%;
        left: 45%;
        z-index: 1;
        transition: all 0.2s ease-out;
    }
    &:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
        .example-works__card_zoom {
            transform: scale(1.2);
        }
    }
}

.example-works__button {
    display: inline-block;
    margin-top: 10px;
    font-size: 11px;
    font-weight: bold;
    color: #623511;
    background-color: transparent;
    border: 1px solid #623511;
    padding: 20px 25px;
    border-radius: 3px;
    transition: all 0.2s ease-out;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    &:hover {
        background-color: #623511;
        color: #fff;
        text-decoration: none;
    }
}

.example-works__title {
    display: inline-block;
    margin-bottom: 55px;
    font-family: 'Philosopher', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #595959;
}

.main-about {
    display: block;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    font-family: 'Philosopher', sans-serif;
    font-size: 14px;
    color: #595959;
    a {
        text-decoration: underline;
        transition: all 0.2s ease-out;
        &:hover {
            text-decoration: none;
            color: #000;
        }
    }
}

.main-clients {
    display: block;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 5px;
    background-color: #512903;
    font-size: 14px;
    color: #fff;
    text-align: center;
    .carousel-caption p {
        display: block;
        font-size: 14px;
        color: #fff;
        text-align: center;
        font-family: 'Philosopher', sans-serif;
    }
    .carousel-caption span {
        display: block;
        margin-top: 40px;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        font-family: 'Philosopher', sans-serif;
    }
}

.main-clients__caption {
    top: 0;
}

.main-clients__image {
    width: 100%;
    height: 210px !important;
}

@media (max-width: 768px) {
    .main-clients {
        padding-top: 20px;
    }
    .main-clients__image {
        height: 300px !important;
    }
}

@media (max-width: 550px) {
    .main-clients__image {
        height: 350px !important;
    }
}

@media (max-width: 350px) {
    .main-clients__image {
        height: 500px !important;
    }
}

@media (max-width: 250px) {
    .main-clients__image {
        height: 550px !important;
    }
}

@media (max-width: 200px) {
    .main-clients__image {
        height: 650px !important;
    }
}

.main-call {
    display: block;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 80px;
    background-image: url(../images/app/pre_footer.jpg);
    background-color: #c1b5a3;
    background-size: cover;
    font-family: 'Philosopher', sans-serif;
    color: #512903;
    span {
        display: block;
        font-size: 36px;
        margin-bottom: 10px;
    }
    p {
        font-size: 18px;
    }
}

.main-call__button {
    display: inline-block;
    border-radius: 3px;
    background-color: rgb(162, 95, 0);
    background-image: url(../images/app/button.png);
    background-size: cover;
    background-size: 100% 100%;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    color: #fff;
    padding: 20px 40px;
    margin-top: 20px;
    transition: all 0.3s ease-out;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    &:hover {
        text-decoration: none;
        color: #fff;
        background-color: #a25f00;
        background-image: url(../images/app/button_hover.png);
        background-size: cover;
        background-size: 100% 100%;
        box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.70);
    }
}

.main-footer {
    display: block;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #351a00;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.main-footer__nav {
    display: block;
    color: #998b78;
    a {
        display: inline-block;
        padding: 10px;
        color: #998b78;
        transition: all 0.2s ease-out;
        &:hover {
            color: #cac1ac;
        }
    }
}

.main-footer__creators {
    display: block;
    margin-top: 20px;
    color: #998b78;
    a {
        color: #998b78;
        text-decoration: underline;
        transition: all 0.2s ease-out;
        &:hover {
            text-decoration: none;
            color: #cac1ac;
        }
    }
}

.categories {
    display: block;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 70px;
}

.categories__title {
    display: block;
    width: 100%;
    span {
        display: block;
        font-size: 34px;
        font-weight: bold;
        color: #402601;
        text-transform: uppercase;
    }
    p {
        display: block;
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: 14px;
        color: #402601;
        font-weight: lighter;
        a {
            color: #402601;
            text-decoration: underline;
            transition: all 0.3s ease-out;
            &:hover {
                color: #333;
                text-decoration: none;
            }
        }
    }
}

.categories__main {
    display: block;
    width: 100%;
    img {
        display: block;
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    span {
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: rgba(255, 255, 255, 0.66);
        transition: all 0.3s ease-out;
        padding: 20px auto 20px;
        font-family: 'Philosopher', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #5c3900;
        &:hover {
            height: 100%;
            min-height: 100%;
            padding: 67px;
        }
    }
}

.categories__cards {
    width: 100%;
}

.categories__card {
    display: block;
    width: 100%;
    border: 1px solid #d3cfcf;
    transition: all 0.3s ease-out;
    img {
        display: block;
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    span {
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        font-family: 'Philosopher', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #402601;
        a {
            font-family: 'Philosopher', sans-serif;
            font-size: 16px;
            font-weight: bold;
            color: #402601;
        }
    }
    &:hover {
        border-color: #a25f00;
        color: #a25f00 !important;
        text-decoration: none !important;
        span {
            color: #a25f00 !important;
            a {
                color: #a25f00 !important;
            }
        }
    }
}

.categories__nav {
    display: block;
    width: 100%;
    margin-top: 13px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    a {
        display: inline-block;
        width: 100%;
        margin-bottom: 1px;
        background-color: #402601;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        transition: all 0.2s ease-out;
        &:hover {
            text-decoration: none;
            background-color: #a25f00;
        }
        img {
            display: inline-block;
            margin-right: 20px;
        }
    }
}

.product__image {
    display: block;
    width: 100%;
    img {
        display: block;
        width: 100%;
        height: 270px;
        object-fit: cover;
    }
}

.product__about {
    display: block;
    width: 100%;
    h2 {
        display: block;
        font-family: 'Philosopher', sans-serif;
        font-size: 36px;
        font-weight: bold;
        color: #402601;
    }
    span {
        font-family: 'Philosopher', sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: #402601;
    }
    p {
        display: block;
        font-family: 'Philosopher', sans-serif;
        font-size: 14px;
        color: #606060;
        line-height: 1.25;
    }
}

.product__price {
    font-size: 30px !important;
}

.product__buy {
    display: inline-block;
    border-radius: 3px;
    background-color: rgb(162, 95, 0);
    background-image: url(../images/app/button.png);
    background-size: cover;
    background-size: 100% 100%;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    color: #fff;
    padding: 17px 30px;
    transition: all 0.3s ease-out;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    &:hover {
        text-decoration: none;
        color: #fff;
        background-color: #a25f00;
        background-image: url(../images/app/button_hover.png);
        background-size: cover;
        background-size: 100% 100%;
        box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, 0.70);
    }
}

.similar-products {
    display: block;
    width: 100%;
}

.similar-products__title {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #402601;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.similar-product__cards {
    width: 100%;
}

.similar-product__card {
    display: block;
    width: 100%;
    border: 1px solid #d3cfcf;
    transition: all 0.3s ease-out;
    img {
        display: block;
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    span {
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        font-family: 'Philosopher', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #402601;
        a {
            font-family: 'Philosopher', sans-serif;
            font-size: 16px;
            font-weight: bold;
            color: #402601;
        }
    }
    &:hover {
        border-color: #a25f00;
        color: #a25f00 !important;
        text-decoration: none !important;
        span {
            color: #a25f00 !important;
            a {
                color: #a25f00 !important;
            }
        }
    }
}

.article {
    display: block;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 70px;
}

.article__title {
    display: block;
    width: 100%;
    h2 {
        display: block;
        font-family: 'Philosopher', sans-serif;
        font-size: 36px;
        font-weight: bold;
        color: #402601;
    }
    span {
        display: block;
        font-size: 34px;
        font-weight: bold;
        color: #402601;
        text-transform: uppercase;
    }
    p {
        display: block;
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: 14px;
        color: #402601;
        font-weight: lighter;
        a {
            color: #402601;
            text-decoration: underline;
            transition: all 0.3s ease-out;
            &:hover {
                color: #333;
                text-decoration: none;
            }
        }
    }
}

.article__text {
    font-family: 'Philosopher', sans-serif;
    font-size: 14px;
    color: #606060;
    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
        color: #402601;
    }
}

#main-header__nav-show {
    position: relative;
}

.main-header__nav-show {
    display: block;
}

.dropdown-menu {
    top: 40px;
    left: 45px;
}

.categories__nav-dropdown {
    display: none;
    position: absolute;
    left: 95%;
    margin-left: -5px;
    top: 0;
    z-index: 2;
    a {
        background-color: #999999;
        letter-spacing: 0;
    }
}

.navbar-toggle {
    img {
        display: block;
        width: 30px;
    }
}

@media (min-width: 992px) {
    .nav_1_show {
        display: block;
    }

    .nav_2_show {
        display: block;
    }

    .nav_3_show {
        display: block;
    }
}

@media (max-width: 768px) {
    .main-header__phone-number {
        margin-bottom: 0;
    }
    .m_t_b_lg {
        margin-top: 10px !important;
        margin-bottom: 20px !important;
    }
    .navbar-toggle {
        display: block;
        position: relative;

        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
    }
    .main-header__nav a {
        display: block;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #ddd;
    }
    .main-header__nav a:last-child {
        border-bottom: none;
    }
    .main-header__nav a:first-child {
        border-top: none;
    }
    .dropdown-menu {
        top: 40px;
        left: 40%;
        a {
            border: none;
        }
    }
}